.container {
  background: linear-gradient(to right, #f8f9fa, #e9ecef);
  padding: 20px;
  border-radius: 10px;
}
h1 {
  text-align: center;
  margin-top: 1%;
  font-family: "Roboto", sans-serif;
}
#back {
  margin: 2%;
}
