<h1>EMPOLYEE DETIALS</h1>

<div class="container mt-5">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="personal"
        ><button type="button" class="btn btn-secondary">Personal</button></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="professional"
        ><button type="button" class="btn btn-warning">Professional</button></a
      >
    </li>
  </ul>
</div>
<div id="back">
  <a routerLink=""><button class="btn btn-dark">Back</button></a>
</div>
