<div class="container mt-5 form-background">
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="empname" class="form-label">Employee Name:</label>
      <input type="text" class="form-control" id="empname" formControlName="empname"/>
      <div *ngIf="employeeForm.get('empname')?.invalid &&(employeeForm.get('empname')?.dirty || employeeForm.get('empname')?.touched)">
        <span class="text-danger">Employee Name is required</span>
      </div>
    </div>
    <div class="mb-3">
      <label for="empage" class="form-label">Employee Age:</label>
      <input type="text" class="form-control" id="empage" formControlName="empage"/>
      <div *ngIf="employeeForm.get('empage')?.invalid &&(employeeForm.get('empage')?.dirty || employeeForm.get('empage')?.touched)">
        <span class="text-danger">Employee Age is required</span>
      </div>
    </div>
    <div class="mb-3">
      <label for="empemail" class="form-label">Email:</label>
      <input type="email" class="form-control" id="empemail" formControlName="empemail"/>
      <div *ngIf="employeeForm.get('empemail')?.invalid &&(employeeForm.get('empemail')?.dirty || employeeForm.get('empemail')?.touched)">
        <span class="text-danger">Valid email is required</span>
      </div>
    </div>
    <div class="mb-3">
      <label for="empmobile" class="form-label">Mobile no:</label>
      <input type="number" class="form-control" id="empmobile" formControlName="empmobile"/>
      <div *ngIf="employeeForm.get('empmobile')?.invalid &&( employeeForm.get('empmobile')?.dirty || employeeForm.get('empmobile')?.touched) ">
        <span class="text-danger">Valid mobile number is required (10 digits)</span>
      </div>
    </div>
    <div class="mb-3">
      <label for="dob" class="form-label">Date of Birth:</label>
      <mat-form-field appearance="fill">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="dob"/>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div *ngIf="employeeForm.get('dob')?.invalid && (employeeForm.get('dob')?.dirty || employeeForm.get('dob')?.touched) ">
        <span class="text-danger">Date of Birth is required</span>
      </div>
    </div>
    <div class="mb-3">
      <label for="gender" class="form-label">Gender:</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" formControlName="gender" value="male" />
        <label class="form-check-label" for="male">Male</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" formControlName="gender" value="female" />
        <label class="form-check-label" for="female">Female</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" formControlName="gender" value="others" />
        <label class="form-check-label" for="others">Others</label>
      </div>
      <div *ngIf="employeeForm.get('gender')?.invalid && (employeeForm.get('gender')?.dirty || employeeForm.get('gender')?.touched)">
        <span class="text-danger">Gender is required</span>
      </div>
    </div>

    <div class="col-lg-4 mt-2">
      <button class="btn btn-primary btn-sm">Submit</button>&nbsp;
      <button type="button" routerLink="/employee" class="btn btn-dark btn-sm">
        Back
      </button>
    </div>
  </form>
</div>
